@import "tailwindcss";

@theme {
  --color-green: #b5ff3d; 
  --color-brand-bg: #000000;
  --color-text-main: #ffffff;
  --color-text-muted: #9ca3af;
}

:root {
  --background: var(--color-brand-bg);
  --foreground: var(--color-text-main);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
